@import '../../styles/config';

$component-class: martian-home;

.#{$component-class} {
    display: flex;
    flex-direction: column;

    h1 {
        margin: 40px auto;
        color: map-get($colors, text-12);
    }

    h5 {
        font-size: 18px;
    }

    ul {
        list-style: none;
    }

    &__form {
        margin: 0 auto 16px auto;
    }

    &__posts {
        max-width: 600px;
        margin: 0 auto;
        border: 2px solid map-get($colors, text-12);
        border-radius: map-get($app-layout, base-border-radius);
        padding: 16px 0;

        h6 {
            font-size: 24px;
            margin-bottom: 8px;
            color: map-get($colors, text-12);
        }

        li {
            padding: 16px;
            color: map-get($colors, text-12);
            position: relative;

            &:after {
                content: '';
                width: calc(100% - 32px);
                height: 2px;
                background: map-get($colors, text-2);
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            &:last-child:after {
                display: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        span {
            display: block;
            text-align: left;
            margin-top: 6px;
            margin-bottom: 8px;
        }
    }

    &__post-comments {
        margin: 40px auto 20px auto;
        font-style: italic;
        padding: 8px;

    }

    &__post-single-comment {

        span {
            margin-bottom: 8px;
        }

        span:last-child {
            background-color: rgba(black, 0.25);
            border-radius: 10px;
            padding: 5px;
            margin-bottom: 0;
        }
    }

    &__pagination {
        display: flex;
        margin: 40px auto;
        align-items: center;
        justify-content: center;

        li {
            margin-right: 10px;
            color: map-get($colors, text-12);

            &:hover {
                cursor: pointer;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .martian-loader {
        padding: 0 40px;
    }

    .martian-no-results {
        padding: 0 40px;
    }
}